table.skills, table.resume, table.education{
  font-size: 0.9em;
  p{
    margin: 5px 0px;
    line-height: 1em;
  }
  tr{
    td{
      padding: 0.2em 0.75em;
    }
    td:first-of-type{
      width: 110px;
    }
  }
}
table.resume, table.education{
  tbody{
    tr, tr:nth-child(2n + 1){
      background-color: transparent;
      border-width: 0px;
    }
    tr:first-child{
      background-color: #f7f7f7;
    }
  }
}
table.resume{
  tbody{
    tr:first-child td{
      font-weight: bold;
    }
  }
}
table.skills{
  tr{
    td:first-of-type{
      width: 160px;
    }
  }
}
