@media print {
  body {
    grid-template-areas: "main" !important;
		grid-template-columns:  100% !important;
  }
  #main>section {
    padding: 0px !important;
  }
  #main {
    padding: 0px !important;
  }
  body {
    font-size: 8pt !important;
  }
  nav, header, footer {
    display: none;
  }
  html, body {
    height: auto;
  }
  #main {
    overflow: visible !important;
  }
  section#summary,
  section#summary >p {
    page-break-after: avoid;
  }
  section#employment,
  section#employment h3#professional-experience{
    page-break-before: avoid;
  }
  section#education_section, section#employment >ul >li {
  }
}
