<!DOCTYPE html>
{% include base.html %}
<html>
  	<head>
      <title>{{ page.title }}</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
      {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
      {% if page.tags.size > 0 %}
        <meta name="keywords" content="{{page.tags | join: ','}}" />
      {% endif %}
      <link href="/jesl/jesl.min.css" rel="stylesheet" media="screen" type="text/css">
      <script src="/jesl/jesl.min.js"> </script>
      <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body>
        {{ content }}

	</body>
</html>
