---
layout: default
---
    <article>
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">
                  {{ page.date | date: "%b %-d, %Y" }}
                  {% if page.author %} • {{ page.author }}{% endif %}
                  {% if page.meta %} • {{ page.meta }}{% endif %}
                  <span class="tags">
                    {% if page.tags %}Tags: {% for tag in page.tags %} <a href="/tag/{{ tag }}">{{ tag }}</a> {% endfor %}{% endif %}
                  </span>
                </p>
        </header>

        <section>
            {{ content }}
        </section>
        
        <footer>
          <div class="fb-comments" data-href="http://www.allican.be" data-width="600" data-numposts="10"></div>
        </footer>

    </article>

